<div class="container">
  <div class="row">
    <div class="col mx-4">
      <h1 class="my-3"><%="Hello, #{@user.first_name}. " %></h1>
      <h3 class="my-3">Check out the books you've bought</h3>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Price</th>
          </tr>
        </thead>

        <% @new_array.each do |order| %>
          <tbody>
            <tr>
              <td><%= order.book.title %></td>
              <td><%= order.book.author %></td>
              <td><%= "R$#{order.book.price}" %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
      <%= link_to 'Go back', root_path, class:'btn btn-secondary mt-3' %>
    </div>
  </div>
</div>
