<div class="table-container mx-5">
    <div class="col-10 mx-5">
      <h1 class="my-4"><%="Hello, #{@user.first_name}. " %></h1>
      <h3 class="my-4">Check out the books you've bought</h3>

      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Price</th>
            <th scope="col">Seller</th>
            <th scope="col">Date</th>
          </tr>
        </thead>

        <% @new_array.each do |order| %>
          <tbody>
            <tr>
              <td><%= order.book.title %></td>
              <td><%= order.book.author %></td>
              <td><%= "R$#{order.book.price}" %></td>
              <td><%= order.book.user.first_name %></td>
              <td><%= order.date%></td>
            </tr>
          </tbody>
        <% end %>
      </table>
      <%= link_to 'Go back', root_path, class:'button mt-3' %>
    </div>
</div>
<!--========== Footer ==========-->
<%= render 'shared/footer' %>
