<!--========== Discover ==========-->
<section class="home" id="home">
    <div class="home__container bd-container bd-grid">
        <div class="home__img">
          <%= image_tag "Book-home.png"  %>
        </div>

        <div class="home__data">
            <h1 class="home__title">Book Story</h1>
            <p class="home__description">Find the perfect story for you</p>
            <%= link_to "Discover", books_path, class: "button" %>
        </div>
    </div>
</section>

<!--========== Sell ==========-->
<section class="share section bd-container" id="share">
    <div class="share__container bd-grid">
        <div class="share__data">
            <h2 class="section-title-center">Sell a book</h2>
            <p class="share__description">Share your most exciting stories with others</p>
            <%= link_to "Sell", new_book_path, class: "button p-100" %>
        </div>

        <div class="share__img">
          <%= image_tag "share-book.png" %>
        </div>
    </div>
</section>

<!--========== Our Suggestions ==========-->
<section class="decoration section bd-container" id="decoration">
    <h2 class="section-title">Our Suggestions</h2>
    <div class="decoration__container bd-grid">
        <% @books_rand.each do |book| %>
            <div class="decoration__data text-center d-flex flex-column">
                <div>
                  <% if book.photo.attached? %>
                    <%= cl_image_tag book.photo.key, class: "accessory__img"%>
                  <% else %>
                    <%= cl_image_tag "https://res.cloudinary.com/e-girardi/image/upload/v1629916606/Book_covers/blank_book_jrgpwl.jpg", class: "accessory__img"%>
                  <% end  %>
                    <h3 class="decoration__title"><%= book.title %></h3>
                </div>
                <div class ="mt-auto">
                    <%= link_to "Go Shopping", book_path(book), class: "button button-link button-suggestion" %>
                </div>
            </div>
        <% end %>
    </div>
</section>

<!--========== New Books ==========-->
<section class="accessory section bd-container" id="accessory">
    <h2 class="section-title">New Books</h2>
    <div class="accessory__container bd-grid">
        <% @books.each do |book| %>

            <div class="accessory__content">
              <% if book.photo.attached? %>
                <%= cl_image_tag book.photo.key, class: "accessory__img"%>
              <% else %>
                <%= cl_image_tag "https://res.cloudinary.com/e-girardi/image/upload/v1629916606/Book_covers/blank_book_jrgpwl.jpg", class: "accessory__img"%>
              <% end  %>
                <h3 class="accessory__title"><%= book.title %></h3>
                <span class="accessory__category"><%= book.author %></span>
                <span class="accessory__preci"><%= book.price %></span>
                <%= link_to book_path(book), class:"button accessory__button" do %>
                    <i class='bx bx-cart-alt' style='color:#ffffff' ></i>
                <% end %>
            </div>
        <% end %>
    </div>
</section>

<!--========== Footer ==========-->
<%= render 'shared/footer' %>
