<div class="table-container mx-5">
    <div class="col-10 mx-5">
      <h1 class="my-4"><%="Hello, #{@user.first_name}. " %></h1>
      <h3 class="my-4">Check out your books</h3>

      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Price</th>
          </tr>
        </thead>

        <% @books.each do |book| %>
          <tbody>
            <tr>
              <td><%= link_to "#{book.title}", edit_book_path(book) %></td>
              <td><%= book.author %></td>
              <td><%= "R$#{book.price}" %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
      <%= link_to 'Go back', root_path, class:'button mt-3' %>
    </div>

</div>
