
<div class="container my-5">
  <div class="row">

    <div class="col d-flex justify-content-center">
      <% if @book.photo.attached? %>
        <%= cl_image_tag @book.photo.key, height: 300, width: 400%>
      <% else %>
        <%= cl_image_tag "https://res.cloudinary.com/e-girardi/image/upload/v1629916606/Book_covers/blank_book_jrgpwl.jpg", height: 300, width: 400%>
      <% end  %>
    </div>

    <div class="col">
      <div class="formbg-outer">
        <h1 class="text-center mb-3">Edit your book</h1>
        <div class="formbg">
          <div class="formbg-inner padding-horizontal--48">

            <%= simple_form_for [ @book ], id: "stripe-login" do |f| %>
              <div class="field padding-bottom--12">
                <%= f.input :title %>
                <%= f.input :author %>
                <%= f.input :description %>
                <%= f.input :price %>
                <%= f.input :photo, as: :file %>
              </div>
              <div class="buttons-containter d-flex justify-content-around mt-5">
                <%= f.submit "Update book", class: "btn" %>

                <% if policy(@book).destroy? %>
                  <%= link_to "Delete book", book_path(@book), method: :delete,
                    data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--========== Footer ==========-->
<%= render 'shared/footer' %>
