<div class="container my-5">
  <div class="row d-flex align-items-center">

    <div class="col d-flex justify-content-center">
      <% if @book.photo.attached? %>
        <%= cl_image_tag @book.photo.key, height: 300, width: 400%>
      <% else %>
        <%= cl_image_tag "https://res.cloudinary.com/e-girardi/image/upload/v1629916606/Book_covers/blank_book_jrgpwl.jpg", height: 300, width: 400%>
      <% end  %>
    </div>

    <div class="col d-flex justify-content-center">
      <div class="formbg-outer">
        <div class="formbg">
          <div class="formbg-inner padding-horizontal--48">
            <div class="info text-right">
              <h1 class="pb-20 my-2"><%= @book.title %></h1>
              <p class="mb-5"><em>Being sold by </em><strong><%="#{@book.user.first_name}"%></strong></p>
              <p class="pb-20 my-3">"<%= @book.description %>"</p>
              <%# <i class="fas fa-truck"></i> %>
              <div class="order-ad">
                <h4>Order it now and receive it in up to 3 days!</h4>
              </div>
              <h3 class="mb-3">R$<%= @book.price %></h3>
              <div class="container d-flex justify-content-center mt-5 w-70%">
                <%= link_to "Buy this Book", book_orders_path(@book), method: :post, class: "button pt-80 "  %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--========== Footer ==========-->
<%= render 'shared/footer' %>
