
<div class="container">
  <%= image_tag @book.photo %>
  <div class="info">
    <h1 class="pb-20"><%= @book.title %></h1>
    <p class="pb-20"><%= @book.description %></p>
    <div class="order-ad">
      <h4>Peça agora e receba em até 3 dias</h4>
      <i class="fas fa-truck"></i>
    </div>
    <h3>R$<%= @book.price %></h3>
    <%= link_to "Buy this Book", book_orders_path(@book), method: :post, class: "btn btn-primary pt-80"  %>
  </div>
</div>



<!--<%= link_to "EDIT", edit_book_path(@book) %>
<%= link_to "Delete #{@book.title}",
            book_path(@book),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
